<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../css/chatbot.css">
</head>
<body>
    <header>
        <h1>Chatbot</h1>
    </header>
    <div class="chat-container">
        <div class="messages" id="messages-container">
            <!-- Aquí se mostrarán los mensajes -->
        </div>
        <div class="input-container">
            <input type="text" id="message-input" placeholder="Ingrese su mensaje...">
            <button id="send-button">Enviar</button>
        </div>
    </div>
    <a href="inicio.html" class="back-to-home">Regresar a Inicio</a>
    <script src="../js/chatbot.js"></script>
</body>
</html>
